@{ 
    ViewData["Title"] = "Dashboard";
}

@section Scripts { 
    <script>
        $(document).ready(function () {
            var options = {};
            options.url = "Dashboard/GetTodaysConsumption";
            options.type = "GET";
            options.dataType = "json";
            options.success = function (data) {
                $("#todays-consumption").append(data);
            };
            options.error = function () {
                $("#todays-consumption").html("Error while calling the API");
            };
            $.ajax(options);
        });
    </script>
}

<h1>@ViewData["Title"]</h1>

<label id="todays-consumption">Today's Consumption (kWh): </label>
