@{
    ViewData["Title"] = "Dashboard";
}

@section Scripts {
    <script>executeHttpGet("Dashboard/GetTodaysConsumption",
            (data) => $("#todays-consumption").append(data + " kWh"),
            () => $("#todays-consumption").html("Error while calling the API"));

        executeHttpGet("Dashboard/GetThisMonthsConsumption",
            (data) => $("#current-months-consumption").append(data + " kWh"),
            () => $("#current-months-consumption").html("Error while calling the API"));
}

<h1>@ViewData["Title"]</h1>

<label id="todays-consumption">Today's Consumption: </label>
<label id="current-months-consumption">This Month's Consumption: </label>